<!DOCTYPE html>
<html>
  <head>
    <title>Card Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
	    <form onsubmit="return getInfo()">
	    	<input type="text" name="search">
	    	<button type="submit">Submit</button>
	    </form>
	</div>
    <ul>
	    	<div class="card">
	    		<div class="event-box">
		    		<h1 class="event-title"><%= card.eventTitle %></h1>

		    		<% if(card.precondition) { %>
		    			<p class="event-precondition"><%= card.precondition %></p>
		    		<% } %>

		    		<p class="event-text"><%= card.eventText %></p>
		    		
		    		<% if(card.specialHuntTileImg) {  %>
		    			<img class="special-hunt-tile-img" src="<%= card.specialHuntTileImg %>">
		    		<% } %>

		    		<% if(card.discardCondition) { %>
		    			<p class="discard-condition"><%= card.discardCondition %></p>
		    		<% } %>
		    	</div>

	    		<div class="combat-box box-1">
		    		<h1 class="combat-title"><%= card.combatTitle%></h1>
		    		
		    		<% if(card.combatPrecondition) { %>
		    			<p class="combat-precondition"><%= card.combatPrecondition %></p>
		    		<% } %>

		    		<p class="combat-text"><%= card.combatText %></p>
	    		</div>

	    		<p class="initiative-number"><%= card.initiativeNumber %></p>

	    		<p class="card-number"><%= card.cardNumber %></p>
	    		
	    	</div>
	</ul>
    <a href="/create">Create Card</a>
   <script type="text/javascript" src="/javascripts/script.js"></script>
  </body>
</html>
